<div class="clr-row">
    <div class="clr-col">
        <h1>Mascotas para adoptar</h1>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col">
        <button class="btn btn-outline" routerLink="/mascotas-agregar">Agregar Mascota</button>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col">

        <table class=" table ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Edad</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tr *ngFor="let mascota of mascotas ">
                <td>{{mascota.nombre}}</td>
                <td>{{mascota.tipo}}</td>
                <td>{{mascota.edad}}</td>
                <td>{{mascota.descripcion}}</td>
            </tr>

        </table>
    </div>
</div>