<div class="clr-row">
    <div class="clr-col">
        <h1>Mascotas para adoptar</h1>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col">
        <table class=" table ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Ver Imformacion</th>
                </tr>
            </thead>
            <tr *ngFor="let mascota of mascotas">
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.tipo }}</td>
                <td>
                    <button class="btn btn-outline" type="button" (click)="mostrar(mascota)">
            Ver Mascota
          </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="card" *ngIf="booleano">
    <div class="modal">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">¿Me adoptas?</h3>
                </div>
                <div class="modal-body">
                    <app-mascota-card [mascotaSeleccionada]="mascotaSeleccionada"></app-mascota-card>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline" type="button" (click)="ocultar()">Cancelar</button>
                    <button class="btn btn-primary" type="button" (click)="adoptar()">Adoptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>